<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Quartet Community Foundation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="client\lib\angular-route.min.js"></script>
<script type="text/javascript" src="node_modules\ng-file-upload\dist\ng-file-upload.min.js"></script>
<script src="client\mainApp.js"></script>
<script src="client\ContactController.js"></script>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="node_modules\angularjs-datepicker\src\css\angular-datepicker.css" rel="stylesheet" type="text/css" />
<link href="assets\css\style.css" rel="stylesheet" />

<script src="node_modules\angularjs-datepicker\src\js\angular-datepicker.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
  <body>
<div class="container">
  <br><br>
  <img src="data\Quartet-logo.png" class="rounded mx-auto d-block" alt="Quartet Community Foundation">

	<br><br>
	<h3>Manage Account </h3>
	<hr>
	<form  ng-controller="ContactController as up">

	<div class="form-group">
			<label for="forgottenEmail">Please provide email address register with us</label>
			<input class="form-control" type="email" id="forgottenEmail" name="email" ng-model="forgotten.email" required="true"/>
			<div>
        <br>
  			<button type="submit"  ng-click="up.sendEmail()" class="btn btn-primary" style="float: right">Submit</button>
  			<br><br>
			</div>
		</div>
  </form>
</div>
</body>
</html>
