<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Quartet Community Foundation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="client\lib\angular-route.min.js"></script>
<script type="text/javascript" src="node_modules\ng-file-upload\dist\ng-file-upload.min.js"></script>
<script src="client\mainApp.js"></script>
<script src="client\LoginController.js"></script>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="node_modules\angularjs-datepicker\src\css\angular-datepicker.css" rel="stylesheet" type="text/css" />
<link href="assets\css\style.css" rel="stylesheet" />

<script src="node_modules\angularjs-datepicker\src\js\angular-datepicker.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
  <body>
    <div class="container">
        <div class="login_div">
        <img src="data\Quartet-logo.png" class="rounded mx-auto d-block" alt="Quartet Community Foundation">
        <br>
        <h3>Welcome</h3>
        <hr>
        <form ng-controller="LoginController as LoginCont" name="LoginCont.upload_form">
              <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email"  ng-model="LoginCont.data.LoginEmail"/>
              </div>
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" ng-model="LoginCont.data.LoginPass"/>
              </div>
              <div style="color:red;">{{message}}</div>
              <button type="submit"  ng-click="LoginCont.submitLogin()" class="btn btn-primary" style="float: right">Login</button>
              <br>
              <a class="btn btn-link" href="/forgotten.html">Forgot password?</a>
              <br>
              <a class="btn btn-link" href="" ng-click="LoginCont.submitRegCompany()">Register as Company</a>
              <br>
              <a class="btn btn-link" href="" ng-click="LoginCont.submitRegEmployee()">Register as Employee</a>
      </form>
    </div>


    </div>

  </body>
</html>
