    <div class="container" style = "background-image: url('data\\bg-map.png');background-size: 75% 100%;background-repeat: no-repeat;">
        <br>
        <img src="data\royal-oak-house.jpg" alt="Royal oak house">
        <br>
        <h3>About us</h3>
        <hr>
        <p>
          Our main focus at Quartet Community Foundation is to change people’s lives for the better across the West of England, giving as many people as possible the chance to fulfil their potential. We do this by working closely with a wide variety of donors to harness their passion for helping others and match it to vital projects that meet community aspirations and make a profound difference to people’s lives.
        </p>
        <p>
          Quartet is an independent charity and company limited by guarantee. Originally founded in November 1986 as the Greater Bristol Trust, we serve a population of about 1.1 million people in the four unitary authority areas of Bath & North East Somerset, Bristol, North Somerset and South Gloucestershire.
        </p>
        <p>
          We are part of a national network of 46 quality accredited Community Foundations that match those who want to give money locally with those organisations and charities working to improve local communities. We see our role as responsive and strategic grant-makers, community leaders in the third sector and – most importantly – advocates for the most vulnerable and disadvantaged in our communities, nurturing both the joy of giving and inspiring further action.
        </p>
        <p>
          Over the past 30 years we have made grants of over £41 million and built a permanent endowment of almost £26 million. We distribute around 1,000 grants each and every year to voluntary and community groups across the West of England.
        </p>
        <p>
          We’re also partnered with the Fredericks Foundation to offer micro loans to people for whom a grant might not be the right solution.
        </p>
        <br><br><br>
  </div>
