    <div class="container"  ng-app="myApp">
        <img src="{{compLogo}}" class="img-fluid" alt="Company Logo" style="width:auto;"/>
        <hr>
        <img src="{{empImage}}" class="img-fluid rounded-circle"  alt="Employee Picture" style="float: right; width:auto;"/>
        <br><br><br><br><br><br><br><br><br>
        <h3>Welcome : {{empName}}</h3>
        <hr>
        <div style="float:right"><h5>Employer :{{empCompany}}</h5></div>
        <br><br>
        <div style="float:right"><h5>Member since :{{empJoinDate}}</h5></div>
        <br>
        <hr>
        <br>
        <input type="image" src="data\donate-cash.png" style="float: right" data-toggle="modal" data-target="#myModal"/>

        <br><br><br><br>

        <div style="border: solid grey 2px; border-radius: 15px; padding: 10px; background-color:#80ff80;">
          <h4>Currently signed up Events and Programs:</h4>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="ep in eventsProgram"><h6>{{ep}}</h6><div class="remove" ng-click="removeEventProgram(ep)">x</div></li>
            </ul>
        </div>
        <br>
        <div style="border: solid grey 2px; border-radius: 15px; padding: 10px;  background-color:#80ff80;">
          <fieldset class="form-group">
            <h4>Choose from Upcoming Events and Programs</h4>
            <hr>
            <div ng-repeat="aep in avlEventsPrograms">
               <div class="form-check">
                 <label class="form-check-label">
                   <input type="checkbox" class="form-check-input" ng-checked="exists(aep, selected)" ng-click="addEventProgram(aep, selected)">
                   {{ aep }}
                 </label>
               </div>
            </div>
          </fieldset>
        </div>
        <br>
        <br>


        <h4>Reports</h4>
        <hr>
        <input type="image" src="data\report1.jpg" class="rounded float-left" alt="Employees Participation Reports"/>

        <input type="image" src="data\report7.jpg" class="rounded float-right" alt="Employees Participation Reports"/>

        <br><br><br><br><br><br>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Make Cash Donation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">

            <div class="form-group">
                <label for="CC">Select Cause/Charity</label>
                <select class="form-control" id="CC" ng-model="causeCharity">
                  <option ng-repeat="cc in compCausesCharities" value="{{cc}}">{{cc}}</option>
                </select>
            </div>

            <div class="form-group">
                  <label for="paymentType">Payment Type</label>
                  <select class="form-control" id="paymentType" required>
                      <option value="one-Off">One-Off</option>
                      <option value="monthly">Monthly</option>
                      <option value="Quarterly">Quarterly</option>
                      <option value="yearly">Yearly</option>
                  </select>
            </div>

            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="text" class="form-control" id="amount" placeholder="0.0"/>
            </div>
            <div class="form-group">
              <label for="empName">Name</label>
              <input type="text" class="form-control" id="empName"/>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email"/>
            </div>
            <div class="form-group">
              <label for="cardNumber">Debt/Credit Card Number</label>
              <input type="text" class="form-control" id="cardNumber" placeholder="XXXX-XXXX-XXXX-XXXX"/>
            </div>
            <div class="form-group">
              <label for="expiryDate">Expiry Date</label>
              <input type="text" class="form-control" id="expiryDate" placeholder="mm/yy"/>
            </div>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
