<div class="container">
  <br><br>
  <H3>Remove Causes/Charties</H3>
  <div id="accordion">
        <div ng-repeat="cc in allCausesCharities">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{cc._id}}" style="color:blue; cursor: pointer;">
                {{cc.title}} <span style="float:right; color:green">Register Date: <i>{{cc.regDate}}</i></span>
                <br>
                {{cc.email}}
              </a>
              <div class="remove_emp" ng-click="removeCauseCharity(cc._id,cc.title,cc.picture)" style="float:right; color:red">x</div>
            </div>
            <div id="collapse{{cc._id}}" class="collapse">
              <div class="card-body">
                <strong>Type: {{cc.type}}</strong><br>
                <strong>Theme: {{cc.causeType}}</strong><br>
                <p>{{cc.causeCharityDesc}}</p>
              </div>
            </div>
          </div>

        </div>
  </div>
</div>
