<div class="container">
  <br><br>
  <H3>Remove Companies</H3>
  <div id="accordion">
        <div class="form-group">
          <label for="_search">Search</label>
          <input type="text" class="form-control" ng-model="search" placeholder="Search from Companies' record"/>
        </div>

        <div ng-repeat="comp in allCompanies | filter:search">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{comp._id}}" style="color:blue; cursor: pointer;">
                {{comp.companyName}}                           <span style="float:right; color:green">Member since: <i>{{comp.joinDate}}</i></span><br>
                {{comp.email}}
              </a>
              <div class="remove_emp" ng-click="removeCompany(comp.companyName,comp.email,comp.logoPicture,comp.empRegisterCode)" style="float:right; color:red">X</div>
            </div>
            <div id="collapse{{comp._id}}" class="collapse">
              <div class="card-body">
                <strong>Causes & Charities signed up for</strong>
                <div ng-repeat="cc in comp.causesCharities">
                    <ul class="list-group">
                      <li class="list-group-item">{{cc}}</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
  </div>
  <br><br>
</div>
