<div class="container">
  <br><br>
  <H3>Remove Events/Programs</H3>
  <div id="accordion">
        <div class="form-group">
          <label for="_search">Search</label>
          <input type="text" class="form-control" ng-model="search"/>
        </div>

        <div ng-repeat="ep in allEventsPrograms | filter:search">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ep._id}}" style="color:blue; cursor: pointer;">
                {{ep.title}}      <span style="float:right; color:green">Date: <i>{{ep.date}}</i></span>
                <br>
                Organizer: {{ep.organizer}}
              </a>
              <div class="remove_emp" ng-click="removeEventProgram(ep._id,ep.title,ep.picture)" style="float:right; color:red">X</div>
            </div>
            <div id="collapse{{ep._id}}" class="collapse">
              <div class="card-body">
                <strong>Type: {{ep.type}}</strong><br>
                <strong>Cause/Charity: {{ep.CauseCharity}}</strong><br>
                <p>{{ep.eventProgramDesc}}</p>
              </div>
            </div>
          </div>

        </div>
  </div>
  <br><br>
</div>
